@import "tailwindcss";

:root {
  --color-primary: #ff79c6;
  --color-secondary: #bd93f9;
  --color-accent: #ffb86c;
  --color-neutral: #414558;
  --color-base100: #282a36;
  --color-info: #8be9fd;
  --color-success: #50fa7b;
  --color-warning: #f1fa8c;
  --color-error: #ff5555;
  --color-text-body: #e2e5e9;

  --tw-prose-invert-body: #d1d5db;
  --tw-prose-invert-headings: #fff;
  --tw-prose-invert-lead: #9ca3af;
  --tw-prose-invert-links: #fff;
  --tw-prose-invert-bold: #fff;
  --tw-prose-invert-counters: #9ca3af;
  --tw-prose-invert-bullets: #4b5563;
  --tw-prose-invert-hr: #374151;
  --tw-prose-invert-quotes: #f3f4f6;
  --tw-prose-invert-quote-borders: #374151;
  --tw-prose-invert-captions: #9ca3af;
  --tw-prose-invert-code: #fff;
  --tw-prose-invert-pre-code: #d1d5db;
  --tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
  --tw-prose-invert-th-borders: #4b5563;
  --tw-prose-invert-td-borders: #374151;

  --border-radius: 10px;
  --box-shadow: 2px 2px 13px 0px rgb(0 0 0 / 4%);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-text-body);
  margin: 0;
  background: #16171d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

@layer base {
  html {
    font-family: Proxima Nova, system-ui, sans-serif;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #111827 inset !important;
    -webkit-text-fill-color: white !important;
    -webkit-background-color: none !important;
    -webkit-border: 0 !important;
  }
}
