body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--adm-color-neutral-800);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root:root {
  --adm-color-primary: #794dfd;
  --adm-color-success: #00b578;
  --adm-color-warning: #ff8f1f;
  --adm-color-danger: #ff3141;

  --adm-color-white: #ffffff;
  --adm-color-text: #313033;
  --adm-color-text-secondary: #313033;
  --adm-color-weak: #313033;
  --adm-color-light: #313033;
  --adm-color-border: ##313033;
  --adm-color-box: #313033;

  --adm-color-neutral-800: #313033;
  --adm-color-background: #f5f5f5;
  --adm-color-input-background: #eee;
  --adm-button-border-radius: 16px;

  --adm-font-size-15: 28px;
  --adm-font-family: 'Inter', sans-serif !important;
}
